.title {
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
}

.alert{
    display: flex;
    justify-content: center;
}

.collapse {
    height: 3rem;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-cont {
    position: absolute;
    width: 25rem;
    height: 15rem;
    background: #DCDCDC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.upload {
    width: 25rem;
    height: 2rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
}


.quest {
    margin-top: 270px;
    display: grid;
    justify-content: center;
    width: 50%;
}

.form-control {
    width: 25rem;
}

.center {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

span {
    font-size: 0.8rem;
}

.btn-primary {
    width: 18rem;
}

@media (max-width: 450px) {
    .img-cont {
        width: 17rem;
        height: 10rem;
    }

    .quest {
        margin-top: 200px;
        width: 40%;
    }

    .form-control {
        width: 19rem;
    }
}