*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 5000;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color:#000;
    line-height: 70px;
    background: #20E0EC;
    user-select: none;
    display: flex;
    align-items: center;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3.5rem;
    font-size: 1rem;
    color: #000;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid#c1c1c1;
    transition: .4s;
  }
  .image {
    width: 3rem;
    height: 3rem;
    background-color: #c1c1c1;
    margin: 0px;
    margin-right: 1rem;
    border-radius: 3rem;
    margin-left: 1rem;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .icon {
    height: 1.7rem;
    width: 1.7rem;
    color: #000;
  }
  #check{
    display: none;
  }
  label #btn{
    color: #000;
    transition: all .5s;
    width: 2.6rem;
    height: 2.6rem;
    padding: 0px;
    cursor: pointer;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  